@import './checkbox';

.project-products .swiper-wrapper {
    height: auto;
}

/* @media only screen and (max-width: 767px) {
    .fancybox__slide {
        padding: 0 !important;
    }
} */


.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
    @media(max-width: 576px) {
        //display: none;
    }
}

.fancybox-button--zoom,
.fancybox-button--thumbs,
.fancybox-button--play,
.fancybox-button--close {
    @media(max-width: 576px) {
        width: 30px !important;
        height: 30px !important;
        padding: 0 !important;
    }

    svg {
        @media(max-width: 576px) {
            width: 20px;
            height: 20px;
        }
    }
}

/* .fancybox__content>.carousel__button.is-close {
    width: 35px;
    height: 35px;
    color: #000;

    @media(max-width: 576px) {
        width: 18px;
        height: 18px;
        top: 30px;
        right: 22px;
    }
} */