<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "О нас"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page page-text">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">о компании </li>
                    </ol>
                </nav>
                <h1 class="page-title">о компании </h1>
            </div>
            <div class="video video_page">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/36YnV9STBqc"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="container">
                <div class="page-text-center drop-content-wrapper">
                    <h2>Создаем для Вас, вместе с Вами</h2>
                    <div class="drop-content">
                        <p>Производственная Компания Армия спорта Design & Innovation основана в 2007 году.
                            В начале нашего пути основным направлением деятельности <span class="drop-span">была
                                поставка спортивного оборудования для тренажерных залов и поставка (монтаж) уличного
                                спортивного оборудования (уличные тренажеры, Workout, турники, брусья и т.д.), отсюда и
                                название "Армия спорта".</span></p>
                    </div>
                    <a href="#" class="drop-btn mobil-visible more-arrow-link" data-initial="читать далее"
                        data-active="Свернуть"></a>
                </div>
            </div>

            <div class="page-text-wrap">
                <div class="page-text-row page-text-row_revers page-text-row_decor">
                    <div class="page-text-row__text col__8 drop-content-wrapper">
                        <h2>О НАС</h2>
                        <div class="drop-content">
                            <p>Производственная Компания Армия спорта Design & Innovation основана в 2007 году. <br>В
                                начале нашего пути основным направлением деятельности была поставка спортивного
                                оборудования для тренажерных залов и поставка (монтаж) уличного спортивного оборудования
                                (уличные тренажеры, Workout, турники, брусья и т.д.), отсюда и название "Армия спорта".
                                <span class="drop-span"><br>В 2011 году мы стали эксклюзивными дистрибьюторами
                                    гидроранцев Jetlev-Flyer производства Германия, а в дальнейшем подводных гидроциклов
                                    SeaBreacher производства США Калифорния. <br>С 2014 года мы начали развитие
                                    собственного производства МАФов для комплексного благоустройства города (скамейки
                                    уличные парковые, урны, вазоны и различные защитные сооружения).</span></p>
                        </div>
                        <a href="#" class="drop-btn mobil-visible more-arrow-link" data-initial="читать далее"
                            data-active="Свернуть"></a>
                    </div>
                    <div class="page-text-row__images col__10">
                        <div class="page-slider">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <img src="img/content/ab1.jpg" alt="" class="page-text__img">
                                </div>

                                <div class="swiper-slide">
                                    <img src="img/content/ab2.jpg" alt="" class="page-text__img">
                                </div>

                                <div class="swiper-slide">
                                    <img src="img/content/ab1.jpg" alt="" class="page-text__img">
                                </div>

                                <div class="swiper-slide">
                                    <img src="img/content/ab2.jpg" alt="" class="page-text__img">
                                </div>

                            </div>

                            <div class="page-slider-nav">
                                <div class="page-slider-prev"></div>
                                <div class="page-slider-pagination"></div>
                                <div class="page-slider-next"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-text-row">
                    <div class="page-text-row__text col__8">
                        <h2>НАШИ КЛИЕНТЫ И ГЕОГРАФИЯ ПОСТАВОК</h2>
                        <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро
                            заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести
                            никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в
                            деле.</p>
                    </div>
                    <div class="page-text-row__images col__10">
                        <img src="img/content/ab2.jpg" alt="" class="page-text__img">
                    </div>
                </div>

                <div class="page-text-row page-text-row_revers">
                    <div class="page-text-row__text col__11 drop-content-wrapper">
                        <h2>проектирование</h2>
                        <div class="drop-content">
                            <p>Производственная Компания Армия спорта Design & Innovation основана в 2007 году. <br>В
                                начале нашего пути основным направлением деятельности была поставка спортивного
                                оборудования для тренажерных залов и поставка (монтаж) уличного спортивного оборудования
                                (уличные тренажеры, Workout, турники, брусья и т.д.), отсюда и название "Армия спорта".
                                <span class="drop-span"><br>В 2011 году мы стали эксклюзивными дистрибьюторами
                                    гидроранцев Jetlev-Flyer производства Германия, а в дальнейшем подводных гидроциклов
                                    SeaBreacher производства США Калифорния. <br>С 2014 года мы начали развитие
                                    собственного производства МАФов для комплексного благоустройства города (скамейки
                                    уличные парковые, урны, вазоны и различные защитные сооружения).</span></p>
                        </div>
                        <a href="#" class="drop-btn mobil-visible more-arrow-link" data-initial="читать далее"
                            data-active="Свернуть"></a>
                    </div>
                    <div class="page-text-row__images col__7">
                        <img src="img/content/ab3.jpg" alt="" class="page-text__img tablet-none">
                        <img src="img/content/table-about.jpg" alt="" class="page-text__img tablet-visible">
                    </div>
                </div>
            </div>
            @@include('../../blocks/modules/requisites/_requisites.html')
        </main>
        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>