<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Текстуры и цвета"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page page-text colors-p">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Текстуры и цвета покрытия
                        </li>
                    </ol>
                </nav>
                <h1 class="page-title">
                    текстуры и цвета покрытия
                </h1>
                <div class="banner">
                    <img src="img/content/wood-painting.jpg" alt="">
                </div>
                <div class="page-text-center">
                    <h2>для обработки поверхности древесины мы используем</h2>
                </div>
                <div class="page-text-wrap">
                    <div class="page-text-row page-text-row_revers page-text-row_decor">
                        <div class="page-text-row__text col__8 drop-content-wrapper">
                            <h2>Пропитка</h2>
                            <div class="drop-content">
                                <p>
                                    Водно-дисперсионная акриловая грунт-пропитка является водорастворимой, а поэтому и
                                    самой
                                    безопасной, не имеет резкого запаха, экологически чиста.
                                </p>
                                <p>
                                    За счет присутствия латекса, создает превосходную защитную пленку, сохраняя дерево
                                    от
                                    воздействия дождя, снега, солнечных лучей.
                                    Пропитка имеет отличную светостойкость за счет присутствия высококачественных УФ
                                    абсорберов (UV Absorbers).
                                    Благодаря наличию биоцидов, позволяет уверенно противостоять плесени
                                    и грибкам.
                                </p>
                                <p>
                                    Пропитка покрывается вместе с лаком, что соответствует требованиям ГОСТ 9.401-91 для
                                    защиты деревянных конструкций при эксплуатации в условиях открытой атмосферы.
                                </p>
                            </div>
                            <a href="#" class="drop-btn mobil-visible more-arrow-link" data-initial="читать далее"
                                data-active="Свернуть"></a>
                        </div>
                        <div class="page-text-row__images col__10">
                            <img src="img/content/imbibition.jpg" alt="" class="page-text__img">
                        </div>
                    </div>

                    <div class="page-text-row">
                        <div class="page-text-row__text col__8">
                            <h2>масло</h2>
                            <p>
                                Защитное масло для наружных работ – это продукт 3 в 1:
                                <ul class="common-list page-text-row__list">
                                    <li>грунтовка;</li>
                                    <li>атмосферостойкое масло;</li>
                                    <li>УФ-защита.</li>
                                </ul>
                                Состоит из натуральных масел и смол. Масло создает дышащую эластичную поверхность, не
                                шелушится, не растрескивается. Обладает шелковисто-матовым блеском. Благодаря своему
                                составу
                                препятствует развитию грибка, синевы, плесени.
                            </p>
                        </div>
                        <div class="page-text-row__images col__10">
                            <img src="img/content/oil.jpg" alt="" class="page-text__img">
                        </div>
                    </div>
                </div>

                <section class="section colors">
                    <div class="section__top colors__top">
                        <h3 class="section__title">цвета</h3>
                        <div class="section__text">
                            <p>
                                Для покрытия мы используем 4 основных цвета – <b>Махагон, Светлый дуб, Палисандр и
                                    Орех.</b>
                            </p>
                            <p>По желанию Заказчика используем цвета не вошедшие в основную палитру.</p>
                        </div>
                    </div>
                    <div class="colors__cards grid col-4">
                        @@include('../../blocks/modules/colors/_color-card.html', {
                        "num": "1",
                        "title": "махагон"
                        })
                        @@include('../../blocks/modules/colors/_color-card.html', {
                        "num": "2",
                        "title": "светлый дуб"
                        })
                        @@include('../../blocks/modules/colors/_color-card.html', {
                        "num": "3",
                        "title": "палисандр"
                        })
                        @@include('../../blocks/modules/colors/_color-card.html', {
                        "num": "4",
                        "title": "Орех"
                        })
                    </div>
                    <div class="tablet-visible">
                        <div class="swiper-container colors-slider gallery">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    @@include('../../blocks/modules/colors/_color-card.html', {
                                    "num": "1",
                                    "title": "махагон"
                                    })
                                </div>
                                <div class="swiper-slide">
                                    @@include('../../blocks/modules/colors/_color-card.html', {
                                    "num": "2",
                                    "title": "светлый дуб"
                                    })
                                </div>
                                <div class="swiper-slide">
                                    @@include('../../blocks/modules/colors/_color-card.html', {
                                    "num": "3",
                                    "title": "палисандр"
                                    })
                                </div>
                                <div class="swiper-slide">
                                    @@include('../../blocks/modules/colors/_color-card.html', {
                                    "num": "4",
                                    "title": "Орех"
                                    })
                                </div>
                            </div>
                            <div class="gallery-prev"></div>
                            <div class="gallery-next"></div>
                        </div>
                    </div>
                </section>
                @@include('../../blocks/modules/metal/_metal.html')
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>