<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Контакты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page contacts">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Главная</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Контакты
                        </li>
                    </ol>
                </nav>
                <h1 class="page-title">
                    контакты
                </h1>

                <div class="contacts__row flex flex-jcsb">
                    <div class="contacts__items flex">
                        <div class="contacts__addresses flex">
                            <div class="contacts__item flex">
                                <svg>
                                    <use xlink:href="img/sprite.svg#pin"></use>
                                </svg>
                                г.Москва, Зелёный проспект
                                д. 5/12, стр. 4 (офис)
                            </div>
                            <div class="contacts__item flex">
                                <svg>
                                    <use xlink:href="img/sprite.svg#pin"></use>
                                </svg>
                                Московская обл., Пушкинский р-н,
                                п. Правдинский, ул. Фабричная 4
                                (склад и производство)
                            </div>
                        </div>
                        <div class="contacts__other flex">
                            <div class="contacts__item flex flex-aic">
                                <svg>
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                                <a href="tel:88001008176">8-800-100-81-76</a>
                            </div>
                            <div class="contacts__item flex flex-aic">
                                <svg>
                                    <use xlink:href="img/sprite.svg#mail"></use>
                                </svg>
                                <a href="mailto:fvs@sportarmy.ru">fvs@sportarmy.ru</a>
                            </div>
                            <div class="contacts__item flex flex-aic">
                                <svg>
                                    <use xlink:href="img/sprite.svg#clock"></use>
                                </svg>
                                Пн-пт с 09.30 до 18.30
                            </div>
                        </div>
                    </div>
                    <a class="btn-black popup-link contacts__btn" href="#">
                        обратная связь
                    </a>
                    <!-- data-fancybox href="#feedback" href="javascript:;" -->
                </div>

                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4694966340744!2d37.771810951407886!3d55.750345980457276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acaa33625cc01%3A0x60af5207fb0a027f!2z0JfQtdC70LXQvdGL0Lkg0L_RgC4sIDUvMTIg0YHRgtGA0L7QtdC90LjQtSA0LCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTExMTQx!5e0!3m2!1sru!2sby!4v1629716930453!5m2!1sru!2sby"
                        width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <div class="contacts__info">
                    <h3>
                        Как добраться в офис и на производство?
                    </h3>
                    <div class="contacts__info-text">
                        <p>
                            <b>Офис:</b>
                            Станция метро Перово, последний вагон из центра. Из стеклянных дверей выход
                            направо и затем повернуть налево. От метро Перово идти прямо 700 м вдоль Зеленого
                            проспекта до розового здания.
                        </p>
                        <p>
                            <b>Производство -</b>
                            забор продукции и посещение производства согласовывается с менеджерами
                            компании.
                        </p>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/feedback/_feedback.html')
            @@include('../../blocks/modules/popups/feedback-success/_feedback-success.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>