<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Новости"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page p-news">
            <nav class="breadcrumbs" aria-label="breadcrumbs">
                <div class="container">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="home.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>
                                Новости
                            </span>
                        </li>
                    </ol>
                </div>
            </nav>

            <div class="page__wrapper p-news__wrapper">
                <div class="p-news__cards grid">
                    <div class="news-card"></div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>