<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Карточка товара"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">скамейки</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Тумба Верона "Ресторан"
                        </li>
                    </ol>
                </nav>
                <h1 class="page-title">
                    Тумба Верона "Ресторан"
                </h1>

                <div class="product-card">
                    <div class="product-card__wrapper flex flex-jcsb">
                        <div class="product-card__left">
                            @@include('../../blocks/modules/product-card/_gallery.html')
                            @@include('../../blocks/modules/product-card/_description.html')
                        </div>
                        <div class="product-card__right">
                            <div class="product-card__product-name">
                                Тумба Верона "Ресторан"
                            </div>
                            <div class="product-card__product-id">
                                id: 11480
                            </div>
                            <div class="product-card__price-wrap product-card__price flex">
                                <div class="product-card__price-title">
                                    цена:
                                </div>
                                <div>
                                    от <span>14 300 РУБ</span>
                                </div>
                            </div>
                            <section class="product-card__info-item product-characteristics">
                                <h4 class="product-card__info-title">
                                    Характеристики
                                </h4>
                                <div class="product-characteristics__wrap flex flex-wrap flex-jcsb">
                                    @@include('../../blocks/modules/product-card/_characteristics.html')
                                    @@include('../../blocks/modules/product-card/_brus-color.html')
                                </div>
                            </section>
                            @@include('../../blocks/modules/product-card/_options-2.html')
                            <button class="btn-black product-card__btn">
                                Сделать заказ
                            </button>
                        </div>
                        <div class="product-card__description tablet-visible">
                            <h4 class="product-card__description-title">
                                Описание
                            </h4>
                            <div class="product-card__description-text">
                                <p>
                                    Тумба может быть изготовлена с <b>регулируемыми по высоте ножками</b>, чтобы можно
                                    было
                                    выставить на неровной поверхности.
                                </p>
                                <br>
                                <div class="product-card__description-listtitle">
                                    Материалы:
                                </div>
                                <br>
                                <dl class="product-card__info-list">
                                    <div>
                                        <dt>Опоры:</dt>
                                        <dd>
                                            Сталь с полимерно-порошковой покраской (возможность нанесения
                                            антикоррозийного покрытия, условия уточняйте). Выбор цвета по каталогу RAL
                                            Classic.
                                        </dd>
                                    </div>
                                    <br>
                                    <div>
                                        <dt>Сиденье:</dt>
                                        <dd>
                                            Брус из хвойных пород древесины - сосна/ель (другие варианты исполнения:
                                            лиственница, композитные материалы, ясень, термодревесина) различного
                                            сечения.
                                            Огнебиозащитные пропитки + тонировочный состав с антисептиком, стойкий к
                                            атмосферным
                                            осадкам, перепадам температур и образованию плесени. Возможность выбора
                                            цвета из
                                            палитры.
                                        </dd>
                                    </div>
                                    <br>
                                    <div>
                                        <dt>Фурнитура:</dt>
                                        <dd>
                                            Оцинкованная. Стандартный цвет (по умолчанию) - серебристый.
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                @@include('../../blocks/modules/viewed-products/_viewed-products.html')
                <div class="seo-text">
                    <p>
                        Скамейка парковая "Радиус" по доступной цене в Москве и других регионах России. Спешите купить у
                        нас!
                        Отправка, доставка товара " Скамейка парковая "Радиус" " во все регионы России. Скидки при
                        комплексном
                        заказе.
                        Индивидуальный подход к каждому Заказчику
                    </p>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        <!-- @@include('../../blocks/modules/popups/_popups.html') -->
    </div>

    @@include('../_js.html')

</body>

</html>