<html lang="ru">
@@include('../_head.html', {
"title": "Проекты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Проекты</li>
                    </ol>
                </nav>
                <h1 class="page-title">Проекты</h1>
                <main class="projects-page">
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj1.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск, ул. Ленинградская, д. 322
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj2.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj3.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск, ул. Ленинградская, д. 322
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj4.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">Благоустройство территории жилого дома</span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj5.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj6.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома
                                Революция
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj7.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">Благоустройство территории</span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj8.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск, ул. Ленинградская, д. 322
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj9.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Революция г. Новосибирск, ул. Ленинградская, д.
                                322
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj10.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома Революция г.
                                Новосибирск
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj11.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">
                                Благоустройство территории жилого дома
                                Революция
                            </span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                    <div class="projects-page-item">
                        <div class="projects-page-item__img"><img src="img/content/pj12.jpg" alt=""></div>
                        <a href="#" class="projects-page-item__text">
                            <span class="projects-page-item__title">Благоустройство территории жилого дома</span>
                            <span class="projects-page-item__link btn-border">подробнее</span>
                        </a>
                    </div>
                </main>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="prev"><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </main>
        @@include('../../blocks/modules/footer/_footer.html')
    </div>
    @@include('../_js.html')

</body>

</html>