<html lang="ru">
@@include('../_head.html', {
"title": "Проект"
})

<body>
    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page project-page">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Проекты</li>
                    </ol>
                </nav>
                <h1 class="page-title">Уличная мебель и спортоборудование для Коттеджного поселка Берёзки</h1>
                <div class="project-images grid grid-col-3">
                    <a data-fancybox="gallery" href="img/content/img-full.jpg" class="project-images__full"><img
                            src="img/content/img-full.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img1x2.jpg" class="project-images__items"><img
                            src="img/content/img1.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img2x2.jpg" class="project-images__items"><img
                            src="img/content/img2.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img9x2.jpg" class="project-images__items"><img
                            src="img/content/img9.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img3x2.jpg" class="project-images__items"><img
                            src="img/content/img3.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img4x2.jpg" class="project-images__items"><img
                            src="img/content/img4.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img5x2.jpg" class="project-images__items"><img
                            src="img/content/img5.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img6x2.jpg" class="project-images__items"><img
                            src="img/content/img6.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img7x2.jpg" class="project-images__items"><img
                            src="img/content/img7.jpg" alt=""></a>
                    <a data-fancybox="gallery" href="img/content/img8x2.jpg" class="project-images__items"><img
                            src="img/content/img8.jpg" alt=""></a>
                </div>

                <div class="mobil-visible">
                    <div class="gallery project-gallery">
                        <div class="gallery__nav">
                            <div class="gallery-prev"></div>
                            <div class="gallery-next"></div>
                        </div>

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a data-fancybox="gallery-m" href="img/content/img1x2.jpg"
                                    class="project-images__items"><img src="img/content/img1.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery-m" href="img/content/img2x2.jpg"
                                    class="project-images__items"><img src="img/content/img2.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery-m" href="img/content/img3x2.jpg"
                                    class="project-images__items"><img src="img/content/img3.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery-m" href="img/content/img4x2.jpg"
                                    class="project-images__items"><img src="img/content/img4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-nav-wrapper mobil-visible">
                    <div class="gallery-nav__nav">
                        <div class="gallery-nav-prev"></div>
                        <div class="gallery-nav-next"></div>
                    </div>
                    <div class="gallery-nav">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/content/img1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/content/img2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/content/img3.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/content/img4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-info drop-content-wrapper">
                    <div class="project-info__location location">
                        <div class="location__item">
                            <b>Местоположение</b>
                            поселок Берёзки
                        </div>
                        <div class="location__item">
                            <b>Дата реализации проекта</b>
                            Весна 2020 года
                        </div>
                    </div>
                    <div class="project-info__text drop-content">
                        <p>Наша компания изготовила и смонтировала МАфы и спортивное оборудование в рамках
                            благоустройства Коттеджного поселка «Берёзки», расположенного в Одинцовском округе, вблизи
                            д.Солослово. <br>В список смонтированных изделий входит: <br>-Уличная мебель: скамейки,
                            перголы, урны, велопарковки, мобильные трибуны; <br>-Спортоборудование: футбольные ворота,
                            волейбольные, баскетбольные и теннисные стойки, а также воркаут тренажеры. Наша компания
                            изготовила и смонтировала МАфы и спортивное оборудование в рамках благоустройства
                            Коттеджного поселка «Берёзки», расположенного в Одинцовском округе, вблизи д.Солослово.
                            <br>В список смонтированных изделий входит: <br>-Уличная мебель: скамейки, перголы, урны,
                            велопарковки, мобильные трибуны; <br>-Спортоборудование: футбольные ворота, волейбольные,
                            баскетбольные и теннисные стойки, а также воркаут тренажеры.</p>
                        <p>Наша компания изготовила и смонтировала МАфы и спортивное оборудование в рамках
                            благоустройства Коттеджного поселка «Берёзки», расположенного в Одинцовском округе, вблизи
                            д.Солослово. <br>В список смонтированных изделий входит: <br>-Уличная мебель: скамейки,
                            перголы, урны, велопарковки, мобильные трибуны; <br>-Спортоборудование: футбольные ворота,
                            волейбольные, баскетбольные и теннисные стойки, а также воркаут тренажеры.</p>
                        <p>Наша компания изготовила и смонтировала МАфы и спортивное оборудование в рамках
                            благоустройства Коттеджного поселка «Берёзки», расположенного в Одинцовском округе, вблизи
                            д.Солослово. <br>В список смонтированных изделий входит: <br>-Уличная мебель: скамейки,
                            перголы, урны, велопарковки, мобильные трибуны; <br>-Спортоборудование: футбольные ворота,
                            волейбольные, баскетбольные и теннисные стойки, а также воркаут тренажеры.</p>
                    </div>
                    <a href="#" class="drop-btn tablet-visible more-arrow-link more-arrow-link_center"
                        data-initial="читать далее" data-active="Свернуть"></a>
                </div>

                <h2 class="section-title">Продукция этого проекта</h2>
                <div class="project-products products-slider products-slider-1">

                    <div class="mobil-slider__nav">
                        <div class="mobil-slider__prev products-slider-prev-1"></div>
                        <div class="mobil-slider__next products-slider-next-1"></div>
                    </div>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car1.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Стол "Кантри"</span>
                                    <span href="#" class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car2.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car3.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car4.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <h2 class="section-title">Другие проекты</h2>
                <div class="project-products products-slider products-slider-2">

                    <div class="mobil-slider__nav">
                        <div class="mobil-slider__prev products-slider-prev-2"></div>
                        <div class="mobil-slider__next products-slider-next-2"></div>
                    </div>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/es1.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Стол "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car2.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/es2.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="product-item__img"><img src="img/content/car4.jpg" alt=""></div>
                                <a href="#" class="product-item__content">
                                    <span class="product-item__title">Шезлонг "Кантри"</span>
                                    <span class="product-item__link btn-border">ЧИТАТЬ ДАЛЕЕ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include('../../blocks/modules/footer/_footer.html')
    </div>
    @@include('../_js.html')
</body>

</html>