.metal {
    padding: 105px 0 90px;

    @media only screen and (min-width: 1921px) {
        padding: 80px 0 120px;
    }

    @media(max-width: 1440px) {
        padding: 123px 0 72px;
    }

    @media(max-width: 992px) {
        padding: 50px 0 0 0;
    }

    @media(max-width: 576px) {
        padding-top: 0px;
    }

    &__top {
        max-width: 1156px;
        margin-bottom: 40px;

        @media only screen and (min-width: 1921px) {
            max-width: 1500px;
            margin-bottom: 100px;
        }
    }

    &__top-text {
        p {
            margin-top: 20px;
        }
    }

    &__cards {
        grid-gap: 20px;

        @media only screen and (min-width: 1921px) {
            grid-gap: 30px;
        }

        @media(max-width: 1200px) {
            grid-gap: 15px;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }
}

.metal-card {
    height: 240px;

    @media only screen and (min-width: 1921px) {
        height: 370px;
        padding-top: 60px;
    }

    @media(max-width: 1440px) {
        height: 200px;
        padding-top: 20px;
    }

    @media(max-width: 1200px) {
        height: 190px;
        padding-top: 35px;
    }

    @media(max-width: 576px) {
        height: 160px;
        padding-top: 30px;
    }

    &__title {
        @media(max-width: 1500px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.metal-slider {
    @media(max-width: 767px) {
        margin-bottom: 0 !important;
    }
}