.card {
    padding-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}