.burger-btn {
    display: none;
    @media (max-width: 991px) {
        width: 30px;
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    &__item {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 0.5s all;
    }

    &--active {
        .hamburger-btn__item {
            &:nth-child(1) {
                transform: rotate(45deg);
                margin-top: 12px;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                margin-bottom: 12px;
            }
        }
    }
}
