.product-card {

    // .product-card__wrapper

    &__wrapper {
        margin: 0 -15px;

        @media(max-width: 1200px) {
            display: block;
        }

        >* {
            padding: 0 15px;
        }
    }


    &__gallery {
        margin-bottom: 50px;

        @media only screen and (min-width: 1921px) {
            margin-bottom: 70px;
        }

        @media(max-width: 1500px) {
            margin-bottom: 40px;
        }

        @media(max-width: 1200px) {
            flex-direction: column-reverse;
        }
    }

    &__thumbs {
        //width: 210px / (830px + 210px + 10px) * 100%;
        width: 115px;
        height: 470px;
        //height: 600px;

        @media only screen and (min-width: 1921px) {
            width: 315px / (1250px + 315px + 10px) * 100%;
            //height: 854px;
        }

        @media(max-width: 1500px) {
            width: 193px / (560px + 193px + 10px) * 100%;
            height: 490px;
        }

        @media(max-width: 1200px) {
            width: 100%;
            height: 157px;
        }
    }

    &__slider {
        width: 830px / (830px + 210px + 10px) * 100%;
        //width: 470px;
        //height: 470px;
        height: 600px;

        @media only screen and (min-width: 1921px) {
            width: 1250px / (1250px + 315px + 10px) * 100%;
            height: 854px;
        }

        @media(max-width: 1500px) {
            width: 559px / (559px + 193px + 10px) * 100%;
            height: 490px;
        }

        @media(max-width: 1200px) {
            width: 100%;
            height: 300px;
            margin-bottom: 16px;
        }
    }

    // .product-card__left

    &__left {
        width: (830px + 210px + 10px) / (1920px - 105px * 2) * 100%;
        //width: (470px + 115px + 10px) / (1920px - 105px * 2) * 100%;
        //width: 500px + 150px + 10px + 30px;

        @media only screen and (min-width: 1921px) {
            width: (1250px + 315px + 10px) / (2500px - 80px * 2) * 100%;
        }

        @media(max-width: 1500px) {
            width: (559px + 193px + 10px) / (1440px - 60px * 2) * 100%;
        }

        @media(max-width: 1200px) {
            width: 100%;
        }
    }

    &__description {
        @media(max-width: 1200px) {
            display: none;
        }

        &.tablet-visible {
            @media(max-width: 1200px) {
                display: block;
            }
        }
    }

    // .product-card__description-title

    &__description-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.1em;
        margin-bottom: 20px;

        @media only screen and (min-width: 1921px) {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 40px;
        }

        @media(max-width: 1500px) {
            font-size: 24px;
            line-height: 29px;
        }

        @media(max-width: 1200px) {
            margin-bottom: 30px;
        }
    }

    // .product-card__description-text

    &__description-text {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;

        b {
            font-weight: 500;
        }

        @media only screen and (min-width: 1921px) {
            font-size: 24px;
            line-height: 29px;
        }

        @media(max-width: 1500px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media(max-width: 1200px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    // .product-card__description-listtitle

    &__description-listtitle {
        font-weight: 700;
    }

    // .product-card__info-list

    &__info-list {
        dt {
            font-weight: 500;
            float: left;
            margin-right: 3px;
        }

        dd {
            font-weight: 300;
        }
    }

    // .product-card__right

    &__right {
        //width: 660px;
        width: 630px / (1920px - 105px * 2) * 100%;

        @media only screen and (min-width: 1921px) {
            width: 735px / (2500px - 80px * 2) * 100%;
        }

        @media(max-width: 1500px) {
            width: 540px / (1440px - 60px * 2) * 100%;
        }

        @media(max-width: 1200px) {
            width: 100%;
            margin-bottom: 70px;
        }
    }

    // .product-card__product-name

    &__product-name {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.1em;
        margin-bottom: 24px;

        @media only screen and (min-width: 1921px) {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 15px;
        }

        @media(max-width: 1500px) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
        }

        @media(max-width: 767px) {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }

    // .product-card__product-id

    &__product-id {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.1em;

        @media only screen and (min-width: 1921px) {
            font-size: 20px;
            line-height: 24px;
        }

        @media(max-width: 767px) {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }

    &__price-wrap {
        margin: 40px 0;

        @media(max-width: 767px) {
            margin: 30px 0 35px;
        }
    }

    // .product-card__price

    &__price {
        align-items: flex-end;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @media only screen and (min-width: 1921px) {
            font-size: 18px;
            line-height: 22px;
        }

        @media(max-width: 767px) {
            justify-content: center;
            text-align: center;
        }

        span {
            font-size: 30px;
            line-height: 37px;
            font-weight: 700;

            @media only screen and (min-width: 1921px) {
                font-size: 36px;
                line-height: 44px;
            }

            @media(max-width: 1500px) {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    // .product-card__price-title

    &__price-title {
        padding-bottom: 3.5px;
        margin-right: 10px;

        @media only screen and (min-width: 1921px) {
            margin-right: 2px;
            padding-bottom: 4.5px;
        }
    }

    // .product-card__info-item

    &__info-item {
        margin-bottom: 60px;

        @media(max-width: 1500px) {
            margin-bottom: 40px;
        }

        @media(max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    // .product-card__info-title

    &__info-title {
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 1px solid $textcolor;
        margin-bottom: 20px;

        @media only screen and (min-width: 1921px) {
            font-size: 18px;
            line-height: 22px;
        }

        @media(max-width: 767px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    // .product-card__btn

    &__btn {
        font-weight: 700;
        padding: 15px;
    }

    &__quantity {
        margin: 40px 0 43px;
    }

    &__quantity-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-right: 30px;

        @media only screen and (min-width: 1921px) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__quantity-counter {
        width: 111px;
        height: 37px;
        padding: 10px 20px;

        @media only screen and (min-width: 1921px) {
            height: 42px;
        }
    }
}

.gallery,
.gallery-nav {
    overflow: hidden;
}

.swiper-slide {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.brus-color {
    padding-top: 10px;

    @media only screen and (min-width: 1921px) {
        padding-top: 7px;
    }

    @media(max-width: 1200px) {
        padding-top: 5px;
    }

    // .brus-color__item

    &__item {
        position: relative;
        width: 40px;
        height: 40px;
        background-size: cover;
        transition: .3s all;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            opacity: 0;
            transition: .3s opacity;
        }

        @media (any-hover: hover) {
            &:hover {
                filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.3));

                &:before {
                    opacity: 1;
                }
            }

            &:active,
            &:focus {
                &:before {
                    opacity: 1;
                }
            }
        }

        @media only screen and (min-width: 1921px) {
            width: 60px;
            height: 60px;
        }

        /* .radio-style {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: cover;
            cursor: pointer;
            transition: .3s all;

            @media (any-hover: hover) {
                &:hover {
                    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.3));
                }
            }
        }

        .radio-box:checked+.radio-style {
            border: 1px solid #000;
        } */
    }
}

.product-color {

    @media(max-width: 1200px) {
        padding-top: 30px;
    }

    @media(max-width: 768px) {
        padding-top: 20px;
    }

    @media(max-width: 576px) {
        padding-top: 15px;
    }

    // .product-color__items

    &__items {
        align-items: center;
        margin-top: 10px;
        grid-gap: 15px 40px;

        @media(max-width: 1500px) {
            grid-gap: 10px 20px;
            margin-top: 20px;
        }

        @media(max-width: 1200px) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px 30px;
            margin-top: 30px;
        }

        @media(max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 15px;
        }

        @media(max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px 33px;
        }
    }

    // .product-color__item

    &__item {
        .radio-style {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            cursor: initial;
        }

        .radio-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.1em;
            padding-left: 5px;
            white-space: nowrap;
        }

        /* .radio-box:checked+.radio-style:before {
            width: 16px;
            height: 13px;
            background-image: url(../img/icons/check.svg);
        } */
    }

    // .product-color__item--white

    /* &__item--dark-check {
        .radio-box:checked+.radio-style:before {
            background-image: url(../img/icons/agree-check.svg);
        }
    } */

    // .product-color__link

    &__link {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-decoration-line: underline;
        white-space: nowrap;
        margin-top: 15px;

        @media(max-width: 1500px) {
            grid-column: 1 / 2;
        }

        @media(max-width: 1200px) {
            grid-column: 3 / 4;
        }

        @media(max-width: 768px) {
            grid-column: 2 / 3;
        }
    }
}

.product-characteristics {

    // .product-characteristics__wrap

    &__wrap {
        margin-bottom: -20px;

        @media(max-width: 1200px) {
            margin: 0 -30px;
        }

        @media(max-width: 768px) {
            margin: 0;
        }
    }

    // .product-characteristics__col

    &__col {
        flex: 0 0 50%;
        padding-bottom: 20px;

        @media(max-width: 1200px) {
            padding-bottom: 0;
            flex-basis: 33.3333%;
            padding: 0 30px;
        }

        @media(max-width: 767px) {
            flex-basis: 50%;
            padding: 0;
        }

        @media(max-width: 576px) {
            flex-basis: 100%;
        }

        &:first-child {
            padding-right: 82px;

            @media only screen and (min-width: 1921px) {
                padding-right: 72px;
            }

            @media(max-width: 1200px) {
                padding-right: 0;
            }
        }

        &:last-child {
            @media(max-width: 1200px) {
                display: flex;
                justify-content: flex-end;
            }

            @media(max-width: 768px) {
                justify-content: flex-start;
                margin-top: 15px;
            }

        }
    }


    &__col+&__col {
        @media(max-width: 576px) {
            margin-top: 15px;
        }
    }

    // .product-characteristics__item

    &__item {
        font-size: 14px;
        line-height: 17px;

        @media only screen and (min-width: 1921px) {
            font-size: 16px;
            line-height: 20px;
        }

        &:not(:last-child) {
            @media(max-width: 576px) {
                display: grid;
                grid-template-columns: minmax(86px, auto) auto;
                grid-column-gap: 25px;
            }
        }
    }

    &__item+&__item {
        margin-top: 15px;

        @media only screen and (min-width: 1921px) {
            margin-top: 20px;
        }

        @media(max-width: 1200px) {
            margin-top: 28px;
        }

        @media(max-width: 767px) {
            margin-top: 15px;
        }
    }

    // .product-characteristics__item-title

    &__item-title {
        font-weight: 700;
    }

    // .product-characteristics__item-value

    &__item-value {
        font-weight: 500;
    }
}

.options {

    // .options__item

    &__item+&__item {
        margin-top: 20px;

        @media(max-width: 576px) {
            margin-top: 30px;
        }
    }

    &__item {
        @media(max-width: 576px) {
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.product-option {

    &__mob-right {
        @media(max-width: 576px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
        }
    }

    &__mob-wrap {
        display: none;

        @media(max-width: 576px) {
            display: flex;
            align-items: center;
        }
    }

    &__info {
        flex: 0 0 326px;

        @media only screen and (min-width: 1921px) {
            flex-basis: 355px;
        }

        @media(max-width: 1500px) {
            flex-basis: 315px;
        }

        @media(max-width: 576px) {
            flex-basis: auto;
            align-items: stretch;
        }
    }

    &--photo {

        .product-option__counter,
        .product-option__price {
            @media(max-width: 576px) {
                display: none;
            }
        }

        .product-option__mob-wrap {

            .product-option__counter,
            .product-option__price {
                @media(max-width: 576px) {
                    display: flex;
                }
            }
        }
    }

    &__img {
        width: 105px;
        height: 100px;

        @media(max-width: 1500px) {
            width: 90px;
            height: 90px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-left: 5px;

        @media(max-width: 1500px) {
            margin-left: 10px;
        }

        @media(max-width: 576px) {
            margin-left: 0;
        }
    }

    // .product-option__size

    &__size {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;

        @media only screen and (min-width: 1921px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media(max-width: 576px) {
            width: 100%;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }

    // .product-option__counter

    &__counter {
        width: 62px;
        height: 27px;
        padding: 5px 10px;

        @media only screen and (min-width: 1921px) {
            width: 79px;
            height: 32px;
        }
    }

    // .product-option__price

    &__price {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;

        @media only screen and (min-width: 1921px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media(max-width: 576px) {
            font-weight: 400;
            margin-left: 20px;
        }
    }
}

.gallery {

    position: relative;
    //width: 500px;
    //height: 500px;
    width: 830px / (830px + 210px + 10px) * 100%;
    height: 600px;

    @media only screen and (min-width: 1921px) {
        width: 1250px / (1250px + 315px + 10px) * 100%;
        height: 854px;
    }

    @media(max-width: 1500px) {
        width: 559px / (559px + 193px + 10px) * 100%;
        height: 490px;
    }

    @media(max-width: 1200px) {
        width: 100%;
        height: 300px;
        margin-bottom: 16px;
    }

    @media(max-width: 767px) {
        height: 210px;
    }

    .gallery-prev,
    .gallery-next {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: rgba(25, 32, 42, .3);
        background-image: url(../img/icons/next.svg);
        background-repeat: no-repeat;
        background-position: 48% 50%;
        background-size: 80%;
        border-radius: 5px;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        cursor: pointer;

        @media(max-width: 767px) {
            width: 24px;
            height: 24px;
        }
    }

    .gallery-prev {
        left: 0;
        transform: translateY(-50%) rotate(180deg);

        @media(max-width: 767px) {
            left: 4px;
        }
    }

    .gallery-next {
        right: 0;

        @media(max-width: 767px) {
            right: 4px;
        }
    }
}

.gallery-nav-wrapper {
    position: relative;
    //width: 150px;
    width: 210px / (830px + 210px + 10px) * 100%;

    @media only screen and (min-width: 1921px) {
        width: 315px / (1250px + 315px + 10px) * 100%;
    }

    @media(max-width: 1500px) {
        width: 193px / (560px + 193px + 10px) * 100%;
    }

    @media(max-width: 1200px) {
        width: 100%;
    }

    @media(max-width: 767px) {
        position: relative;
        padding: 0 30px;
    }
}

.gallery-nav {
    position: relative;
    //height: 500px;
    height: 600px;

    @media only screen and (min-width: 1921px) {
        height: 854px;
    }

    @media(max-width: 1500px) {
        height: 490px;
    }

    @media(max-width: 1200px) {
        height: 157px;
    }

    @media(max-width: 767px) {
        height: 83px;
        overflow: hidden;
    }

    .swiper-wrapper {
        @media(max-width: 767px) {
            counter-reset: slide;
        }
    }

    .swiper-slide {
        @media(max-width: 767px) {
            width: 110px;
            position: relative;
            counter-increment: slide;
        }

        &:before,
        &:after {
            position: absolute;
            opacity: 0;
            transition: .3s;
        }

        &:before {
            @media(max-width: 767px) {
                content: '';
                width: 100%;
                height: 100%;
                z-index: 2;
                border: 1px solid #000;
                top: 0;
                left: 0;
            }
        }

        &:after {
            content: "0"counter(slide);
            bottom: 0;
            right: 0;
            width: 23px;
            height: 24px;
            @extend %flex-center;
            background: rgba(0, 0, 0, .3);
            border-radius: 2px;
            color: #fff;
            padding: 2px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.gallery-nav-next,
.gallery-nav-prev {
    cursor: pointer;

    @media(max-width: 767px) {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        background: url(../img/icons/arrow-right-dark.svg) no-repeat center;
        z-index: 2;
        cursor: pointer;
    }
}

.gallery-nav-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}

.gallery-nav-prev {
    transform: translateY(-50%);
    left: 0;
}

.gallery-nav .swiper-slide-thumb-active::after,
.gallery-nav .swiper-slide-thumb-active::before {
    @media(max-width: 767px) {
        opacity: 1;
    }
}

.gallery-nav .swiper-slide-thumb-active::after,
.gallery-nav .swiper-slide-thumb-active::before {
    @media(max-width: 767px) {
        opacity: 1;
    }
}

.gallery-nav-wrapper .gallery-nav-next,
.gallery-nav-wrapper .gallery-nav-prev {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(25, 32, 42, 0.3);
    background-image: url(../img/icons/next.svg);
    background-repeat: no-repeat;
    background-position: 48% 50%;
    background-size: 80%;
    border-radius: 5px;
    z-index: 100;

    @media(max-width: 1200px) {
        top: 50%;
    }
}

.gallery-nav-wrapper .gallery-nav-prev {
    top: 0;
    transform: translateX(-50%) rotate(-90deg);

    @media(max-width: 1200px) {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
    }
}

.gallery-nav-wrapper .gallery-nav-next {
    bottom: 0;
    transform: translateX(-50%) rotate(90deg);

    @media(max-width: 1200px) {
        bottom: auto;
        right: 0;
        left: auto;
        transform: translateY(-50%) rotate(0deg);
    }
}