.feedback-form {


    width: 660px;
    padding: 50px 30px;

    @media only screen and (min-width: 1921px) {
        width: 810px;
        padding: 80px 75px 50px;
    }

    @media(max-width: 1500px) {
        width: 670px;
        padding: 70px 40px 70px 30px;
    }

    @media(max-width: 767px) {
        width: 100%;
    }

    @media(max-width: 576px) {
        padding: 60px 20px 40px;
        overflow: auto;
        top: 0;
        left: 0;
        transform: none;
    }



    // .feedback-form__title

    &__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;

        @media only screen and (min-width: 1921px) {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 40px;
        }

        @media(max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    // .feedback-form__item

    &__item+&__item {
        margin-top: 20px;
    }

    // .feedback-form__agreement

    &__agreement {
        margin: 10px 0 40px;

        .check-style {
            width: 20px;
            height: 20px;
            border: 1px solid $textcolor;
        }

        .check-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            padding-left: 25px;

            @media(max-width: 767px) {
                font-size: 16px;
            }

            @media(max-width: 576px) {
                font-size: 12px;
                line-height: 10px;
            }
        }

        .check-box:checked+.check-style:before {
            width: 16px;
            height: 13px;
            background-image: url(../img/icons/agree-check.svg);
        }
    }
}