@import './vars';
@import './mixins';
@import './fonts';
@import './null';

@import '../components/components';

.container {
    width: 100%;
    padding: 0 105px;

    @media only screen and (min-width: 1921px) {
        padding: 0 80px;
    }

    @media(max-width: 1500px) {
        padding: 0 60px;
    }

    @media(max-width: 1200px) {
        padding: 0 20px;
    }
}

.flex {
    display: flex;

    &-wrap {
        flex-wrap: wrap;
    }

    &-col {
        flex-direction: column;
    }

    &-aic {
        align-items: center;
    }

    &-afe {
        align-items: flex-end;
    }

    &-jcsb {
        justify-content: space-between;
    }

    &-jcc {
        justify-content: center;
    }
}

.grid {
    display: grid;
    grid-column-gap: 30px;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    /* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: #fff;
        backdrop-filter: blur(31px);
    } */
}

.section {
    &__top {
        text-align: center;
        color: $textcolor;
        margin: 0 auto 100px;
    }

    &__title {
        font-weight: 500;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 25px;

        @media only screen and (min-width: 1921px) {
            margin-bottom: 30px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;

        b {
            font-weight: 500;
        }

        @media(max-width: 1440px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.card {
    padding-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.common-list {
    li {
        display: inline-block;
        position: relative;
        padding-left: 12px;

        &:before {
            content: '';
            position: absolute;
            @extend %pos-center-y;
            left: 0;
            width: 5px;
            height: 5px;
            background-color: $textcolor;
        }
    }
}

.page-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.page {
    padding-top: 120px;
    padding-bottom: 50px;
}

.page-text {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 50px;
}

.page-text h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 35px;
}

.page-text-center {
    text-align: center;
    //max-width: 990px;
    margin: 0 auto;
    padding: 100px 0;
}

.page-text-center p {
    line-height: 1.44;
}

.page-text__img {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.page-text-wrap {
    position: relative;
    padding-bottom: 40px;
}

.page-text-wrap::before {
    content: '';
    display: block;
    width: 660px;
    top: 60px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    background: #efefef;
    position: absolute;
}

.page-text-row {
    position: relative;
    z-index: 2;
    padding: 0 0 40px;
    margin-bottom: 40px;
    display: flex;
}

.page-text-row .col__7 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 39%;
    flex: 1 0 39%;
    width: 39%;
    padding-right: 0;
}

.page-text-row .col__8 {
    flex: 1 0 44%;
    width: 44%;
    padding-right: 100px;
    //padding-left: 90px;
}

.page-text-row .col__10 {
    flex: 1 0 56%;
    width: 56%;
    //padding-right: 105px;
}

.page-text-row .col__11 {
    flex: 1 0 61%;
    width: 61%;
    padding-left: 80px;
    //padding-right: 90px;
}

.page-text-row:last-child {
    margin-bottom: 0;
}

.page-text-row__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.page-text-row_revers {
    flex-direction: row-reverse;
}

.page-text-row_revers .col__8 {
    padding-left: 100px;
    //padding-right: 90px;
}

.page-text-row_revers .col__10 {
    //padding-right: 15px;
    //padding-left: 105px;
}

.page-text-row_revers .page-text-row__text {
    align-items: flex-start;
    text-align: left;
}

.page-text-row_decor {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.page-text-row_decor::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 34%;
    background: #19202a;
    left: 0;
    bottom: 0;
}